#cont {
    width: 100%;
    height: 90vh;
}
#map {
    width: 100%;
    height: 100%;
}

#sliders {
    position: absolute;
    left: 25px;
    top: 70px;
    width: auto;
    height: auto;
    font-size: 10pt;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    z-index: 10;
}

#sliders h3 {
    margin-top: 0px;
}

#sliderbox {
    padding: 10px;
    display: none;
    margin-top: 0px;
}

#tooltip {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    min-height: 50px;
}

.over{
    background-color: white;
    opacity: 0.7;
    z-index: -1000;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    border: 16px solid #9ecae1;
    border-top: 16px solid #de2d26;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    opacity: 1;
}

#showsliders {
    font-size: 30px;
    font-weight: bold;
    color:white;
    background-color:rgba(0,60,136,.5);
}

#showsliders:hover {
    cursor: pointer;
}

#closeslid {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 30px;
    z-index: 11;
}

.butt {
    width: auto;
    float:left;
    padding: 3px 5px 3px 5px;
    margin: 0 10px 0 0 ;
    border-radius: 5px;
    background-color:rgba(0,60,136,.5);
    color: white;
    cursor: pointer;
}

#closeslid:hover {
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotate {
-moz-transform: rotate(-45.0deg);  /* FF3.5+ */
-ms-transform: rotate(-45.0deg);  /* IE9+ */
-o-transform: rotate(-45.0deg);  /* Opera 10.5 */
-webkit-transform: rotate(-45.0deg);  /* Safari 3.1+, Chrome */
 transform: rotate(-45.0deg);  /* Standard */
}

.thead {
    height: 45px;
}