#cont {
    display: flex;
    flex-wrap: nowrap;
    width: 1000px;
}
#map {
    width: 80%;
    height: 90vh;
}

#sliders {
  width: 20%;
  height: 90vh;
  font-size: 10pt;
}

#sliders p {
    margin-top: 0px;
    margin-bottom: 2px;
}

#sliders h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

#tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    min-height: 50px;
}

.over{
    background-color: white;
    opacity: 0.7;
    z-index: -1000;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    border: 16px solid #9ecae1; /* Light grey */
    border-top: 16px solid #de2d26; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    opacity: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}